<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
    <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/76/khabarovsk/?utm_medium=mapframe&utm_source=maps"
                                                       style="color:#eee;font-size:12px;position:absolute;top:0px;">Хабаровск
    </a><a href="https://yandex.ru/maps/76/khabarovsk/?ll=135.071917%2C48.480223&source=wizgeo&utm_medium=mapframe&utm_source=maps&z=10"
           style="color:#eee;font-size:12px;position:absolute;top:14px;">Карта Хабаровска с улицами и номерами домов онлайн — Яндекс Карты</a>
        <iframe src="https://yandex.ru/map-widget/v1/-/CGDzmGYy" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;">
        </iframe></div>
</body>
</html>