{% extends 'shabl2.html' %}

{% block title %} Home {% endblock %}
<body> {% block body %}<p>Здесь будет статья про волейбол</p>
<div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/110168/holyoke/?utm_medium=mapframe&utm_source=maps"
                                                   style="color:#eee;font-size:12px;position:absolute;top:0px;">Холиок</a>
    <a href="https://yandex.ru/maps/110168/holyoke/?ll=-72.592090%2C42.202806&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fll%3D-72.615%252C42.208%26spn%3D0.103%252C0.050%26text%3DUnited%2520States%2520of%2520America%252C%2520Massachusetts%252C%2520Hampden%2520County%252C%2520Holyoke&utm_medium=mapframe&utm_source=maps&z=13.61"
style="color:#eee;font-size:12px;position:absolute;top:14px;">Холиок — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUFaYdx2C"
width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
<p>Продолжение статьи</p>{% endblock %} </body>
