<!doctype html>
<html lang="ru" prefix="og: http://ogp.me/ns#" class="h-100">
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/особенности.css')}}">
</head>

{% extends 'shabl2.html' %}

{% block title %} Osoben {% endblock %}
<body class="abc"> {% block body %}<div class="abc2"><H1>Особенности нашего предприятия.</H1>
<h2>1. Всё это делается  на чистом интузиазме.</h2>
<p>Мы делаем наш сайт "за спасибо", но, если  вы хотите нас поддержать и помочь стать лучше (пишите ваши пожелания и предложения <a class="nav-link" href="http://127.0.0.1:8080/Otzov">сюда</a>), сможете отправить отзыв. :)</p>
</div>
<div class="abc2"><h1>Мы хотим стать лучше...</h1>
<h2>...помогите нам!</h2>
<p>Как мы уже писали выше, мы рады получить замечания в виде сообщения. Если к нам забредут бывалые программисты и увидят, что на нашем
сайте, например, нарушена центровка, просьба, не проходите мимо!</p>
    {% endblock %}</div> </body>